<div class="container">
  <h4 class="text-center mt-4">
    <i class="fas fa-car mr-2"></i>MyCarDealership
  </h4>
  <p class="text-center mt-4">
    All-in-one dashboard and stock management portal for car dealerships.
  </p>
  <div class="text-center">
    <img
      class="mb-4"
      src="../../../assets/mockup.png"
      style="width: 100%"
      alt=""
    />
  </div>
  <hr />

  <p class="text-center mt-4">
    Comprehensive dashboard showing vehicle and pricing data
  </p>
  <div class="text-center">
    <img
      class="mb-4"
      src="../../../assets/dashboard.png"
      style="width: 100%"
      alt=""
    />
  </div>
  <hr />
  <p class="text-center mt-4">
    Keep track of available and previously sold vehicle stock
  </p>
  <div class="text-center">
    <img
      class="mb-4"
      src="../../../assets/stock.png"
      style="width: 100%"
      alt=""
    />
  </div>
  <hr />
  <p class="text-center mt-4">
    Add your details and view your dealership on Google Maps
  </p>
  <div class="text-center">
    <img
      class="mb-4"
      src="../../../assets/details.png"
      style="width: 100%"
      alt=""
    />
  </div>
  <hr />
  <p class="text-center mt-4">Fully responsive for access on the go</p>
  <div class="text-center">
    <img
      class="mb-4"
      src="../../../assets/mobile-mockup.png"
      style="width: 100%"
      alt=""
    />
  </div>
  <hr />
  <div class="text-center mt-3 mb-3">
    <a href="https://github.com/ksells99/my-car-dealership"
      ><div class="badge badge-dark px-3 py-2">
        <i class="fab fa-github mr-2"></i>View on GitHub
      </div>
    </a>
  </div>
</div>
